[submodule "stable/lib/forge-std"]
	path = stable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stable/lib/openzeppelin-contracts"]
	path = stable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
